.vscode/**
.github/**
src/**
tests/**
scripts/**
*.ts
*.map
.gitignore
.editorconfig
INSTRUCOES-*.txt
UPDATE-MANIFEST*.txt
node_modules/.cache/**
resources/webview/codicon.svg

node_modules/**
!node_modules/typescript/**
